{% extends "layout.twig" %}

{% from 'macros.twig' import boss_break_color %}

{% block title %}Raid{% endblock %}

{% block content %}
<form action="{{ url_for('raid-info') }}" method="post" class="form-horizontal">
  {% include 'csrf.twig' %}
  <div class="col-md-6">
    <div class="form-group row">
      <label for="raidFormId" class="col-sm-2 col-form-label">Date de raid</label>
      <div class="col-sm-3">
        <select name="raidId"
                id="raidId"
                class="custom-select form-control-border border-width-2">
            {% for id, date in raids %}
                <option value="{{ id }}"{{ id == raidId ? 'selected' : ''}}>{{ date }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-info">Selectionner</button>
      </div>
    </div>
  </div>
</form>
<div class="row">
{% if  isPreview %}
  <div class="col-12">
    <div class="position-relative p-3 bg-gray" style="height: 60px">
      <div class="ribbon-wrapper ribbon">
        <div class="ribbon bg-warning">
          Preview
        </div>
      </div>
      Prochain raid !!
    </div>
  </div>
{% endif %}
  <div class="col-lg-6">
    <div class="row">
    <div class="card-body table-responsive p-0">
    <table class="table table-head-fixed table-hover">
      <tr>
        <th>Boss</th>
        <th>Element</th>
      </tr>
      {% for boss in bosses %}
      <tr>
        <td>
          <a href="{{ url_for('boss', { 'id': boss.id }) }}">
          <img src="/dist/image/bosses/{{ boss.id }}.png"
             class="img-fluid img-thumbnail"
             style="padding: 0"
             width="60" height="60"
             alt="{{ boss.name }}">
          {{ boss.name }}
          </a>
        </td>
        <td>
          <img src="/dist/image/elements/{{ boss.element }}.png"
             class="img-fluid img-thumbnail"
             style="padding: 0"
             width="30" height="30"
             alt="{{ boss.name }}">
          {{ boss.e_name }}
        </td>
      </tr>
      {% endfor %}
    </table>
    </div>
    </div>
  <div class="card">
    <div class="card-body">
        <a href='https://docs.google.com/spreadsheets/d/1_M7FHciakmedREJFP9XvbR3_rmWYIdkWRjuypfyh84Y/edit#gid=1997928964'
           target="_blank">
          Google sheet des resistances
        </a>
    </div>
  </div>
  {% for ailmentId, info in ailments %}
    <div class="card collapsed-card">
      <div class="card-header" data-card-widget="collapse">
        <h3 class="card-title">
          <img src="/dist/image/resources/ailment_{{ ailmentId }}.png"
               class="img-fluid img-thumbnail"
               style="padding: 0"
               width="25" height="25"
               alt="{{ info.name }}">
          {{ info.name }}
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Arme</th>
              {% for boss in bosses %}
              <th>
                <img src="/dist/image/bosses/{{ boss.id }}.png"
                     class="img-fluid img-thumbnail"
                     style="padding: 0"
                     width="75" height="75"
                     alt="{{ boss.name }}">
              </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for weapon in info.weapons %}
            <tr>
              <td>
                <img src="{{ imgHeros ~ weapon.charac.id }}_weapon.png"
                  class="img-fluid img-thumbnail"
                  data-toggle="tooltip" title="{{ weapon.charac.name }}"
                  style="padding: 0"
                  width="50" height="50"
                  alt="{{ weapon.name }}">
              </td>
              <td>
                {{ weapon.name }}
              </td>
              <td><span style="font-size:1.1rem;" class="badge bg-{{ boss_break_color(weapon.rate1) }}">{{ weapon.rate1 ?? '- '}}%</span></td>
              <td><span style="font-size:1.1rem;" class="badge bg-{{ boss_break_color(weapon.rate2) }}">{{ weapon.rate2 ?? '- '}}%</span></td>
              <td><span style="font-size:1.1rem;" class="badge bg-{{ boss_break_color(weapon.rate3) }}">{{ weapon.rate3 ?? '- '}}%</span></td>
              <td><span style="font-size:1.1rem;" class="badge bg-{{ boss_break_color(weapon.rate4) }}">{{ weapon.rate4 ?? '- '}}%</span></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  {% endfor %}
  </div>

  <div class="col-lg-6">
    <div class="row">
    <div class="card">
      {% if  user.isVolunteer %}
      <div class="card-header">
        <form action="{{ url_for('raid-info-add') }}"
              method="post"
              enctype="multipart/form-data"
              class="form-inline">
          {% include 'csrf.twig' %}
          <input id="raidIdFormId" name="raidIdForm" type="hidden" value="{{ raidId }}">
          <div class="row">
          <div class="form-group">
            <input type="file" name="files[]" multiple="multiple"/>
          </div>
          <div class="form-group pr-4">
            <label for="videoLinkFormId" class="col-form-label">Lien youtube: </label>
            <input type="text" name="videoLinkForm" id="videoLinkFormId"/>
          </div>
          <div class="form-group">
            <input type="submit" class="col-auto"/>
          </div>
          </div>
        </form>
      </div>
      {% endif %}
      <div class="card-body">
        <div class="row">
            {% for info in infos %}
            <div class="col-sm-2">
              <a href="{{ info["source"] }}" data-toggle="lightbox" data-title="{{ info["originalName"] }}" data-gallery="mixedgallery">
                <img src="{{ info["imgSrc"] }}" class="img-fluid mb-2" alt="{{ info["originalName"] }}"/>
              </a>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
  <!-- Ekko Lightbox -->
  <link rel="stylesheet" href="/dist/AdminLTE-3.1.0/plugins/ekko-lightbox/ekko-lightbox.css">
{% endblock %}

{% block scripts %}
<!-- Ekko Lightbox -->
<script src="/dist/AdminLTE-3.1.0/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});

$(function () {
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox({
      alwaysShowClose: true
    });
  });
});
</script>
{% endblock %}
