{% extends "layout.twig" %}

{% block title %}Raid{% endblock %}

{% block content %}
<div class="row">
  <div class="card col-lg-6">
    <div class="card-header">
      <h3 class="card-title">Classement Global</h3>
    </div>
    <div class="card-body">
      <table id="table-rankGlobal" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th># alliance</th>
            <th># guilde</th>
            <th>Guilde</th>
            <th>Nom</th>
            <th>Moyenne</th>
          </tr>
        </thead>
        <tbody>
        {% for fight in fights %}
          <tr style="background-color: {{ fight.guildColor }}">
            <td>{{ fight.rankAlliance }}</td>
            <td>{{ fight.rankGuild }}</td>
            <td>{{ fight.guildName }}</td>
            <td>{{ fight.memberName }}</td>
            <td>{{ fight.average }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card col-lg-6">
    <div class="card-header">
      <h3 class="card-title">Moyennes par boss</h3>
    </div>
    <div class="card-body">
      <table id="table-rankBoss" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th># alliance</th>
            <th>rank boss 1</th>
            <th>rank boss 2</th>
            <th>rank boss 3</th>
            <th>rank boss 4</th>
            <th>Guilde</th>
            <th>Nom</th>
            <th>Boss</th>
            <th>ratio</th>
            <th>Dégâts</th>
            <th>sigma</th>
          </tr>
        </thead>
        <tbody>
        {% for fight in fights %}
          {% for bossId, boss in bosses %}
            {% if attribute(fight.bosses, bossId) %}
              {% set stats = attribute(fight.bosses, bossId).stats %}
              <tr style="background-color: {{ fight.guildColor }}">
                <td>{{ fight.rankAlliance }}</td>
                <td>{{ fight.rankBoss1 ?? 90 }}</td>
                <td>{{ fight.rankBoss2 ?? 90 }}</td>
                <td>{{ fight.rankBoss3 ?? 90 }}</td>
                <td>{{ fight.rankBoss4 ?? 90 }}</td>
                <td>{{ fight.guildName }}</td>
                <td>{{ fight.memberName }}</td>
                <td>{{ boss.name }}</td>
                <td class="text-right">{{ stats.count }}x</td>
                <td class="text-right">{{ stats.average }}</td>
                <td class="text-right">{{ stats.sigma }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- DataTables  & Plugins -->
<script src="/dist/AdminLTE-3.1.0/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/jszip/jszip.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/dist/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.dataTables_length').addClass('bs-select');
});
$(function () {
  var tableGlobal = $("#table-rankGlobal").DataTable({
    "responsive": true,
    "lengthChange": false, //"lengthChange": true, pageLength: 5, lengthMenu: [10, 30, 20, 50, 100, 200, 500],
    "searching": true,
    "scrollCollapse": true, "scrollY": "500px",
    "paging": false,
    "columnDefs": [
            {
                "targets": [ 1 ],
                "visible": false
            }
    ],
    "buttons": [
        {
            text: 'All',
            action: function ( e, dt, node, config ) {
                tableGlobal.columns(0).visible(true);
                tableGlobal.columns(1).visible(false);
                tableGlobal.columns(2).visible(true);
                tableGlobal.search('').draw();
                tableBoss.columns(5).search('').draw();
            }
        },
        {
            text: 'Tremens',
            action: function ( e, dt, node, config ) {
                tableGlobal.columns(0).visible(false);
                tableGlobal.columns(1).visible(true);
                tableGlobal.columns(2).visible(false);
                tableGlobal.search(this.text()).draw();
                tableBoss.columns(5).search(this.text()).draw();
            }
        },
        {
            text: 'Nocturnum',
            action: function ( e, dt, node, config ) {
                tableGlobal.columns(0).visible(false);
                tableGlobal.columns(1).visible(true);
                tableGlobal.columns(2).visible(false);
                tableGlobal.search(this.text()).draw();
                tableBoss.columns(5).search(this.text()).draw();
            }
        },
        {
            text: 'Chill',
            action: function ( e, dt, node, config ) {
                tableGlobal.columns(0).visible(false);
                tableGlobal.columns(1).visible(true);
                tableGlobal.columns(2).visible(false);
                tableGlobal.search(this.text()).draw();
                tableBoss.columns(5).search(this.text()).draw();
            }
        }
      ]
  });
  tableGlobal.buttons().container().appendTo('#table-rankGlobal_wrapper .col-md-6:eq(0)');
    
  
  var tableBoss = $("#table-rankBoss").DataTable({
    "responsive": true,
    "lengthChange": false, //"lengthChange": true, pageLength: 5, lengthMenu: [10, 30, 20, 50, 100, 200, 500],
    "searching": true,
    "scrollCollapse": true, "scrollY": "500px",
    "paging": false,
    "columnDefs": [
            {
                "targets": [ 0, 1, 2, 3, 4, 5],
                "visible": false
            }
    ],
    "buttons": [
        {
            text: 'All',
            action: function ( e, dt, node, config ) {
                tableBoss.search('').draw();
                tableBoss.order([0, 'asc']);
                tableBoss.draw();
            }
        }
        {% for boss in bosses %}
        ,{
            text: "{{ boss.shortName }}",
            action: function ( e, dt, node, config ) {
                tableBoss.search("{{ boss.name }}").draw();
                tableBoss.order([{{ loop.index }}, 'asc']);
                tableBoss.draw();
            }
        }
        {% endfor %}
      ]
  });
  tableBoss.buttons().container().appendTo('#table-rankBoss_wrapper .col-md-6:eq(0)');
  
});
</script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/dist/AdminLTE-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/dist/AdminLTE-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/dist/AdminLTE-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock %}
