{% macro nav_item_class(name) %}
{{ html_classes('nav-item', {'menu-open': page.current starts with name}) }}
{% endmacro %}
{% macro nav_link_class(name) %}
{{ html_classes('nav-link', {'active': page.current starts with name}) }}
{% endmacro %}

<a href="/index.php" class="brand-link">
    <img src="/dist/image/delirium-logo1.jpg" alt="delirium Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Alliance de la Delirium</span>
</a>
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!--Alliance-->
            <li class="nav-item">
                <a href="{{ url_for('alliance') }}" class="nav-link">
                    <i class="nav-icon fas fa-shield-alt text-purple"></i>
                    <p>L'alliance</p>
                </a>
            </li>
            {% if user.isOfficier %}
            <!--Administration-->
            <li class="{{ _self.nav_item_class('admin') }}">
                <a href="#" class="{{ _self.nav_link_class('admin') }}">
                    <i class="nav-icon fas fa-tools text-fuchsia"></i>
                    <p>
                        Administration
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('admin-dashboard') }}" class="{{ _self.nav_link_class('admin-dashboard') }}">
                            <i class="nav-icon fas fa-tachometer-alt text-fuchsia"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('admin-members') }}" class="{{ _self.nav_link_class('admin-members') }}">
                            <i class="nav-icon fas fa-user-lock text-fuchsia"></i>
                            <p>Membres</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('admin-heroes') }}" class="{{ _self.nav_link_class('admin-heros') }}">
                            <i class="nav-icon fas fa-restroom text-fuchsia"></i>
                            <p>Héros & Armes</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('admin-bosses') }}" class="{{ _self.nav_link_class('admin-bosses') }}">
                            <i class="nav-icon fas fa-pastafarianism text-fuchsia"></i>
                            <p>Boss</p>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if  user.isGestion %}
            <!--Api Discord ShortCut-->
            <li class="{{ _self.nav_item_class('discord') }}">
                <a href="#" class="{{ _self.nav_link_class('discord') }}">
                    <i class="nav-icon fas fa-bell text-blue"></i>
                    <p>
                        Api
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/?page=discord&subpage=alarm" class="{{ _self.nav_link_class('discord-alarm') }}">
                            <i class="nav-icon fas fa-info text-blue"></i>
                            <p>rappel</p>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <!--Raid-->
            <li class="{{ _self.nav_item_class('raid') }}">
                <a href="#" class="{{ _self.nav_link_class('raid') }}">
                    <i class="nav-icon fas fa-skull text-red"></i>
                    <p>
                        Raid
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/?page=raid&subpage=info" class="{{ _self.nav_link_class('raid-info') }}">
                            <i class="nav-icon fas fa-info text-red"></i>
                            <p>Informations</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/?page=raid&subpage=rank" class="{{ _self.nav_link_class('raid-rank') }}">
                            <i class="nav-icon fas fa-medal text-red"></i>
                            <p>Classement</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/?page=raid&subpage=meteo" class="{{ _self.nav_link_class('raid-meteo') }}">
                            <i class="nav-icon fas fa-cloud-sun-rain text-red"></i>
                            <p>Météo</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/?page=raid&subpage=followup" class="{{ _self.nav_link_class('raid-followup') }}">
                            <i class="nav-icon fas fa-list-ol text-red"></i>
                            <p>Tableau de Suivi</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/?page=raid&subpage=miss" class="{{ _self.nav_link_class('raid-miss') }}">
                            <i class="nav-icon fas fa-user-slash text-red"></i>
                            <p>Les loupés <i class="fas fa-sad-cry"></i></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/?page=raid&subpage=summary" class="{{ _self.nav_link_class('raid-summary') }}">
                            <i class="nav-icon fas fa-th-list text-red"></i>
                            <p>Résumé des attaques</p>
                        </a>
                    </li>
                    {% if user.isJoueur %}
                    <li class="nav-item">
                        <a href="/?page=raid&subpage=fightByGuild" class="{{ _self.nav_link_class('raid-fight') }}">
                            <i class="nav-icon fas fa-crosshairs text-red"></i>
                            <p>Attaques</p>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <!--Conquête-->
            <li class="{{ _self.nav_item_class('conquest') }}">
                <a href="#" class="{{ _self.nav_link_class('conquest') }}">
                    <i class="nav-icon fas fa-chess-knight text-orange"></i>
                    <p>
                        Conquête
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('conquest-priority') }}" class="{{ _self.nav_link_class('conquest-priority') }}">
                            <i class="nav-icon fas fa-chess-knight text-orange"></i>
                            <p>Plan de bataille</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('conquest-tremens') }}" class="{{ _self.nav_link_class('conquest-tremens') }}">
                            <i class="nav-icon fas fa-chess-knight text-warning"></i>
                            <p>Strat Tremens</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('conquest-nocturnum') }}" class="{{ _self.nav_link_class('conquest-nocturnum') }}">
                            <i class="nav-icon fas fa-chess-knight text-lightblue"></i>
                            <p>Strat Nocturnum</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('conquest-old') }}" class="{{ _self.nav_link_class('conquest-old') }}">
                            <i class="nav-icon fas fa-chess-knight text-orange"></i>
                            <p>strat (old)</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!--Membre-->
            <li class="{{ _self.nav_item_class('member') }}">
                <a href="#" class="{{ _self.nav_link_class('member') }}">
                    <i class="nav-icon fas fa-users text-purple"></i>
                    <p>
                        Membres
                        <i class="right fas fa-angle-left"></i>
                        {% if members.pending is defined and members.pending != 0 %}
                        <span class="badge badge-danger right">{{ members.pending }}</span>
                        {% endif %}
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('member-alliance') }}" class="{{ _self.nav_link_class('member-alliance') }}">
                            <i class="nav-icon fas fa-list-ul text-purple"></i>
                            <p>Liste des membres</p>
                        </a>
                    </li>
                    {% if user.isOfficier %}
                    <li class="nav-item">
                        <a href="{{ url_for('member-pending') }}" class="{{ _self.nav_link_class('member-pending') }}">
                            <i class="nav-icon fas fa-clipboard-list text-purple"></i>
                            <p>En attente</p>
                            <span class="badge badge-danger right">{{ (members.pending is defined and members.pending != 0) ? members.pending : '' }}</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ url_for('member-new') }}" class="{{ _self.nav_link_class('member-new') }}">
                            <i class="nav-icon fas fa-plus text-purple"></i>
                            <p>Ajouter</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!--Boss-->
            <li class="nav-item">
                <a href="{{ url_for('bosses') }}" class="{{ _self.nav_link_class('boss') }}">
                    <i class="nav-icon fas fa-pastafarianism text-teal"></i>
                    <p>
                        Boss
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('tip') }}" class="{{ _self.nav_link_class('tip') }}">
                    <i class="nav-icon fas fa-question text-white"></i>
                    <p>
                        Astuces
                    </p>
                </a>
            </li>
            <!-- Discord -->
            <li class="nav-item">
                <a href="https://discord.gg/z33d8uZ" target="_blank" class="nav-link">
                    <i class="nav-icon fab fa-discord text-blue"></i>
                    <p>
                        Discord
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
